# Core
pandas>=2.1
numpy>=1.26
pyproj>=3.6
PyYAML>=6.0

# For parquet output (pandas.to_parquet)
pyarrow>=13.0

# Geospatial stack
rasterio>=1.3
geopandas>=0.14
shapely>=2.0
fiona>=1.9
affine>=2.4

# Google Earth Engine and tools
earthengine-api>=1.7
geemap>=0.36

# Dev / testing
black>=24.0
pytest>=8.0
